<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% @bank_names.each do |bank| %>
				<p><a href="/ifsc/<%= bank.gsub(" ","_") %>"><%= bank.upcase %></a></p>
			<% end %>
		</div>
	</div>
</div>