<% meta_keywords "" %>
<% meta_description "IFSC Bank Code" %>
<h1><%=h content_for(:title, "IFSCWALA - IFSC Bank Code") %></h1>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% @bank_names.each do |bank| %>
				<p><a href="/ifsc/<%= bank.gsub(" ","_") %>"><%= bank.upcase %></a></p>
			<% end %>
		</div>
	</div>
</div>