body {
	font-family: 'Open Sans', sans-serif;
	color: #3E3B66;	
}
.navbar-inverse {
	background-color: #523054;
	border-color: #523054;
}
.navbar-inverse {
	background-color: #523054;
	border-color: #523054;
}
.navbar-inverse2 {
	background-color: #664666;
	border-color: #664666;
}
.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {float:none;}
.navbar-inverse .navbar-brand {
	color: #fff;
}

.all-list a {
	display: block;
	color: #3E3B66;
	line-height: 18px;
	height: 46px;
	padding: 10px;
	border-radius: 4px;
}

.all-list a:hover {
border: 1px solid #523054;
text-decoration: none;
}