@import url(http://fonts.googleapis.com/css?family=News+Cycle);
body {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}

a {
	font-size: 16px;
	color: #777;
	text-decoration: underline;
	color: #428BCA;
}

a:hover {
	font-weight: bold;
	color: #428BCA;
	text-decoration: none;
}

.centered {
  float: none;
  margin: 0 auto;
}

.right {
	float: right;
}

.margin-1 {
	margin: 0.5%;
}

.margin-reset {
	margin: 3% 3% 4% 11%;
}

.navbar {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.navbar-default .navbar-nav > li > a:hover {
  background: #27AE60;
  color: #fff;
}

.navbar > .container .navbar-brand {
	background: #27ae60;
	color: white;
}
.srch-inp {
	float: right;
	padding: 0;
	margin-bottom: 0.3%;
}

#nprogress .bar {
	background: #27AE60;
	
}

.navbar-default {
	background: #2980b9;
}

.navbar-default a {
	text-decoration: none;
	font-size: 24px;
}

.navbar-default .navbar-brand {
	color: white;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: #27AE60;
  box-shadow: 0 1px 1px rgba(50,205,50, 0.075) inset, 0 0 8px rgba(50,205,50, 0.6);
  outline: 0 none;
}

.well {
	background: white;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background: #CFE9F7;
}

.tags {
	padding: 10px;
	color: #777;
	background: #CFE9F7;
}

@media screen and (max-width: 800px) {
	#map {
		display: none;
	}
}