<!DOCTYPE html>
<html>
<head>
  <title>Bbranch</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar-wrapper navbar-default" role="navigation">
		<div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">IFSC BANK CODE</a>
	    </div>
	  </div>
	</nav>
<%= yield %>

</body>
</html>
